.dash-container{
    display: flex;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
}
.sidebar{
    min-width: 200px;
    width: 20%;
    border: solid 1px black;
}
.sidebar section{
    display: flex;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.65);
    padding: 10px;
    border-radius: 10px;
    border: solid black 1px;
    margin: 10px;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    transition: ease-in-out .2s;
}
.sidebar section:hover {
    color: white;
    background-color: black;
    transform:scale(1.02);
}
.sidebar section:active {
    transform:scale(1);
}
a{
    text-decoration: none;
    color: black;
}
.min-sex{
    display: flex;
    align-items: center;
    gap: 0px 20%;
}
.sidebar section hr{
    height: 20px;
    border: solid 1px rgba(0, 0, 0, 0.894);
}
.sidebar section img{
    height: 5vh;
}
.size-6{
    color: blue;
}
.center{
    display: flex;
    justify-content: center;
    width: 100%;
}
.dash-main{
    width: 100%;
    padding-top: 30px;
    padding: 10px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.stats-container{
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
    gap: 30px;
    padding: 10px;
    flex-wrap: wrap;
}